body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

td {
  width: 80px;
  height: 80px;
  border: 2px solid black;
  font-size: 40px;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}